---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center text-gray-900">
        Advertise your business!</h2>
      <p class="mt-4 lg:mt-8 font-light text-gray-900 sm:text-xl">
        Reach out to thousands of customers who visit and explore inDearborn every month. By advertising your business here, you’ll be able to connect directly with this engaged audience. 🚀 Our analytics are publicly available to view <a href="https://us.posthog.com/shared/mjiPyFRqnY_LtGXZEOamOO6rxstKJw" text-decoration-line="underline">here</a>.</p>
        <p class="mt-4 lg:mt-8 font-light text-gray-900 sm:text-xl">
        If you are interested in advertising on inDearborn please fill out the form below and we'll be in touch.</p>
      </div>
</section>
</Layout>