---
import "@fontsource/gabarito";
import AppShell from "../components/app/AppShell.astro";
import themeConfig from "@util/themeConfig";
import "../styles/global.css";

const { slug } = Astro.params;
const { title } = Astro.props;
const siteTitle = themeConfig.general.title;

const calculatedTitle = title || siteTitle;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="Find it, in Dearborn" content="A business directory for Dearborn and Dearborn Heights" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="sitemap" href="/sitemap-0.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{calculatedTitle}</title>
  </head>
  <body class="bg-white dark:bg-gray-800">
    <AppShell>
      <slot />
    </AppShell>
  </body>
</html>
